body{
    background: url('../../media/images/monkees.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: fixed;
    font-family: 'Shadows Into Light', sans-serif;
}

.i{
    font-size: 12px;
    margin-left: 25px;
    padding-right: 10px;
    color: black;
}

i{
    color: black;
}


/*------------------------colors----------------------------------------------*/

.black{
    color:#000000;
}

.white-col{
    color: #ffffff;
}

/*------------------------Header----------------------------------------------*/

nav{
    background-color: #B6BF0D;
    color: black;
}

.title{
    float: right;
    position: inherit;
    display: inline-block;
    font-size: 30px;
    width: 250px;
    font-weight: bold;
    padding-right: 20px;
    margin-right: 10px;
}

.header{
    background-color: #B6BF0D;
    border-bottom: solid;
    height: 50px;
    margin-bottom: 30px;
}

h1{
    float: right;
    width:450px;
}

.h2{
    padding-left: 10px;
}

.band{
    display: inline-block;
    width: 100%;
    font-size: 70px;
    margin-top: 0px;
    padding-left: 2%;
    color: black;
}

.drp-mnu{
    width: 100%;
}

.navbar{
    border:none;
    border-radius: 0%;
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #CAD419;
    border-bottom: solid
}

.navbar-toggle1{
    icon("glyphicon glyphicon-menu-hamburger");
    float: left;
    font-size: larger;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    margin-top: 5px;
    background-color: transparent;
    border: solid 1px rgb(200,200,200);
    border-radius: 20%;
}

.navbar-toggle1:hover{
    
}

.navbar-txt-white{
    display: inline-block;
    color: blue;
    width:20.%;
    font-weight: 600;
    font-size: 20px;
}


/*------------------------Buttons---------------------------------------------*/

button{
    margin-top: 10px;
    margin-left: 20px;
    display: inline-block;
    background-color: transparent;
}

.btn-st{
    width: 100%;
    margin-top: 10px;
    margin-right: 20px;
    
}

.li-margin1{
    margin-right: 10%;
}

.p-size{
    font-size: 20px;
}

.p{
    font-size: 40px;
}

.ul-buttons{
    width:100%;
    margin: 0;
    margin-right: 10px;
    list-style: none;
    padding: 0;
}

.btn1{
    width:10px;
    height: 10px;
    color: black;
    background-color: green;
}


/*------------------------main Section----------------------------------------*/

blockquote{
    background-color: #ff0000;
    border: solid;
    opacity: 1;
    
}

.banner{
    font-weight: 300;
    font-size: 15px;
}

.form{
    font-family: sans-serif;
}

.img1{
    height: 100px;
    float: left;
}

.img2{
    height:100px;
    float: right;
}


/*-----------------------Footer-----------------------------------------------*/
.copyright{
    float:left;
    margin-left: 5px;
    width:45%;
}


.footer{
    border-top: solid;
    background-color: #8C8C8C;
    padding-bottom: .5px;
    
}

.s-links{
    float: right;
    margin-right: 20px;
}

.pad-top{
    padding-top: 20px;
}

/*-----------------------Media Quaries----------------------------------------*/



@media screen and (max-width: 992px){
    
    .news{
        background-color:#B6BF0D;
        border: solid;
        border-radius: 2%;
        text-align: center;
        width: 75%;
        margin-left: 12.5%;
    }
    
    
    .news2 {
        border: solid;
        padding-left: 10px;
        padding-right: 10px;
        background-color: #b6bf0d;
        border-radius: 2%;
        width: 70%;
        margin-left: 15%;
        margin-bottom: 25%;
        text-align: center;
    }

    
    .band{
    display: inline-block;
    width: 100%;
    font-size: 70px;
    padding-left: 2%;
        
    }
}

@media screen and (max-width: 800px){
    
    
    .news{
        background-color:#B6BF0D;
        width: 80%;
        margin-left: 10%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    .band{
    display: inline-block;
    width: 100%;
    font-size: 70px;
    padding-left: 2%;
}
}

@media (min-width: 993px){

    .main-section{
    padding-right:10px;
        
    }
    
    .band{
    display: inline-block;
    width: 100%;
    font-size: 70px;
    padding-left: 2%;
}


    .news{
        border: solid;
        padding-left: 10px;
        padding-right: 10px;
        background-color: #B6BF0D;
        border-radius: 2%;
        width: 75%;
        margin-left: 12.5%;
        text-align: center;
            
    }
    
    
    .news2 {
        border: solid;
        padding-left: 10px;
        padding-right: 10px;
        background-color: #b6bf0d;
        border-radius: 2%;
        width: 40%;
        margin-left: 30%;
        margin-top: 11%;
        margin-bottom: 10%;
        text-align: center;
    }

    .band{
    display: inline-block;
    width: 100%;
    font-size: 70px;
    padding-left: 2%;
}
}