body{
        font-family: 'Shadows Into Light', sans-serif;
        background-color: #ff6600
}

i{
    font-size: 24px;
}


/*------------------------colors----------------------------------------------*/

.black{
    color:#000000;
}

.blue{
    background-color: #01eeff;
}

.white-col{
    color: #ffffff;
}

/*------------------------Header----------------------------------------------*/

header{
    background-color:yellow;
    border-bottom: solid;
}

.h2{
    padding-left: 10px;
}

.band{
    width: 600px;
    margin-top: 40px;
    font-size: 70px;
}

.drp-mnu{
    width:20px;
}

.navbar-txt-white{
    color: blue;
    font-weight: 600;
    font-size: 40px;
}
.navbar-txt-white:hover{
    background-color: yellow;
}

/*------------------------Buttons---------------------------------------------*/

.btn-width{
    width: 100%;
    margin-top: 10px;
    margin-right: 20px;
    
}

.li-margin1{
    margin-right: 10%
}

.p-size{
    font-size: 40px;
}

.ul-buttons{
    width:100%;
    margin: 0;
    margin-right: 10px;
    list-style: none;
    padding: 0;
}

.btn1{
    width:10px;
    height: 10px;
    color: black;
    background-color: green;
}


/*------------------------main Section----------------------------------------*/

blockquote{
    background-color: #ff0000;
    border: solid;
}


/*-----------------------Footer-----------------------------------------------*/


.footer{
    border-top: solid;
    background-color: yellow;
    
}

.s-links{
    float: right;
    margin-right: 20px;
}

.pad-top{
    padding-top: 20px;
}

/*-----------------------Media Quaries----------------------------------------*/



@media screen and (max-width: 992px){
    .news{
        background-color:#0ff14;
    }
}

@media screen and (max-width: 800px){
    .news{
        background-color:#0ff14;
    }
}

@media (min-width: 993px){

    .scroll{
    overflow: scroll;
    }
    .main-section{
    height: 610px;
    padding-right:10px;
}
.news{
    border: solid;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #0FFF14;
    border-radius: 2%
}

.img1{
    padding:0;
    margin: 0;
}
}