body{
        font-family: 'Shadows Into Light', sans-serif;
        background-color: #efefef
}

/*------------------------Header----------------------------------------------*/

.band{
    width: 600px;
    position: absolute;
    top: 70px;
    left: 400px;
    font-size: 70px;
}

/*------------------------Buttons---------------------------------------------*/

.btn-width{
    width: 100%;
    margin-top: 10px;
    margin-right: 20px;
    
}

.li-margin1{
    margin-right: 10%
}

.p-size{
    font-size: 40px;
}

.ul-buttons{
    width:100%;
    margin: 0;
    margin-right: 10px;
    list-style: none;
}


/*------------------------main Section----------------------------------------*/

blockquote{
    background-color: #ffffff;
    border: solid;
}


/*-----------------------Footer-----------------------------------------------*/